{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}App control de combustible{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.minty.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="bs-component">
                {% include "menu.html" %}   
            </div>
        </div>
      </div>
    {% block contenido %}
        Contenido por defecto
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>